name: Package the js repl as a binary artifact

on: [pull_request]

env:
  LADYBIRD_SOURCE_DIR: ${{ github.workspace }}
  CCACHE_DIR: ${{ github.workspace }}/.ccache
  VCPKG_ROOT: ${{ github.workspace }}/Build/vcpkg

jobs:
  build-and-package:
    runs-on: ${{ matrix.runner_label }}
    name: ${{ matrix.os_name }}, ${{ matrix.arch }}

    strategy:
      fail-fast: false
      matrix:
        os_name: ['Linux']
        arch: ['x86_64']
        toolchain: ['Clang']
        package_type: ['Linux-x86_64']
        runner_label: ['ubuntu-latest']

        include:
          - os_name: 'macOS'
            arch: 'arm64'
            toolchain: 'Clang'
            package_type: 'macOS-arm64'
            runner_label: 'macos-latest'

    steps:
      - name: Checkout LadybirdBrowser/ladybird
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ inputs.reference_to_build }}

      - name: 'Determine build commit hash'
        id: build-commit
        shell: bash
        run: |
          echo "sha=$(git rev-parse HEAD)" >> "${GITHUB_OUTPUT}"

      - name: 'Use latest custom actions'
        if: ${{ inputs.reference_to_build != '' && github.sha != steps.build-commit.outputs.sha }}
        shell: bash
        run: |
          git fetch origin master
          git checkout origin/master -- .github/actions

      - name: "Set up environment"
        uses: ./.github/actions/setup
        id: 'setup'
        with:
          os: ${{ matrix.os_name }}
          arch: ${{ matrix.arch }}

      - name: Create build directory Ubuntu
        run: |
          cmake --preset Distribution \
            -DCMAKE_C_COMPILER=clang-${{ steps.setup.outputs.llvm_version }} \
            -DCMAKE_CXX_COMPILER=clang++-${{ steps.setup.outputs.llvm_version }} \
            -DENABLE_CI_BASELINE_CPU=ON \
            -DENABLE_GUI_TARGETS=OFF
        if: ${{ matrix.os_name == 'Linux' }}

      # FIXME: Add the following flag back when vcpkg supports Universal binaries:
      #        -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"
      #
      #        See: https://github.com/microsoft/vcpkg/discussions/19454
      - name: Create build directory macOS
        run: |
          cmake --preset Distribution \
            -DCMAKE_OSX_DEPLOYMENT_TARGET="11.0" \
            -DENABLE_GUI_TARGETS=OFF
        if: ${{ matrix.os_name == 'macOS' }}

      - name: Build js
        working-directory: Build/distribution
        run: |
          ninja js

      - name: Build wasm
        working-directory: Build/distribution
        run: |
          ninja wasm

      - name: Sanity-check the js repl
        shell: bash
        run: |
          path="Build/distribution/ladybird-js-${{ matrix.package_type }}.tar.gz"
          if [ -f "${path}" ]; then
            tar -xvzf "${path}"
            bin/js -c "console.log('Hello, World\!');" > js-repl-out.txt
            if ! grep -q "\"Hello, World\!\"" js-repl-out.txt; then
              echo "Sanity check failed: \"Hello, World\!\" not found in output."
              exit 1
            fi
          fi

      - name: Sanity-check the wasm repl
        shell: bash
        run: |
          path="Build/distribution/ladybird-wasm-${{ matrix.package_type }}.tar.gz"
          if [ -f "${path}" ]; then
            tar -xvzf "${path}"
            bin/wasm -e run_sanity_check -w ${{ github.workspace }}/Libraries/LibWasm/Tests/CI/ci-sanity-check.wasm > wasm-repl-out.txt
            if ! grep -q "Hello, World\!" wasm-repl-out.txt; then
              echo "Sanity check failed: Hello, World\! not found in output."
              exit 1
            fi
          fi
