name: Run test262 and test-wasm

on: [ pull_request ]

env:
  LADYBIRD_SOURCE_DIR: ${{ github.workspace }}
  VCPKG_ROOT: ${{ github.workspace }}/Build/vcpkg

jobs:
  run_and_update_results:
    runs-on: ubuntu-latest
    steps:
      # FIXME: Update the checkout versions once JamesIves/github-pages-deploy-action has a more recent release than v4.7.4.

      - name: Checkout LadybirdBrowser/ladybird
        uses: actions/checkout@v6.0.0

      - name: Checkout trflynn89/libjs-data
        uses: actions/checkout@v6.0.0
        with:
          repository: trflynn89/libjs-data
          path: libjs-data

      - name: Test
        run: date > libjs-data/test262/per-file-master.json

      - name: Deploy to GitHub
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          git-config-name: LadybirdBot
          git-config-email: ladybirdbot@ladybird.org
          branch: master
          repository-name: trflynn89/libjs-data
          token: ${{ secrets.LADYBIRD_BOT_TOKEN }}
          folder: libjs-data
