name: Run test262 and test-wasm

on: [pull_request]

env:
  LADYBIRD_SOURCE_DIR: ${{ github.workspace }}
  VCPKG_ROOT: ${{ github.workspace }}/Build/vcpkg

jobs:
  run_and_update_results:
    runs-on: "ubuntu-latest"

    concurrency: libjs-test262

    steps:
      - name: Cleanup
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}/*"

      - name: Checkout LadybirdBrowser/ladybird
        uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false

      - name: Checkout LadybirdBrowser/libjs-test262
        uses: actions/checkout@v6.0.2
        with:
          repository: LadybirdBrowser/libjs-test262
          path: libjs-test262

      - name: Checkout tc39/test262
        uses: actions/checkout@v6.0.2
        with:
          repository: tc39/test262
          path: test262

      - name: Checkout tc39/test262-parser-tests
        uses: actions/checkout@v6.0.2
        with:
          repository: tc39/test262-parser-tests
          path: test262-parser-tests

      - name: Set up environment
        uses: ./.github/actions/setup
        id: 'setup'
        with:
          os: 'Linux'
          arch: 'x86_64'

      # We are currently limited to CMake 3.28 in Ubuntu 24.04. Our build requires CMake 3.30 or later.
      - name: Upgrade CMake
        run: |
          CMAKE_VERSION=4.2.3
          CMAKE_NAME="cmake-${CMAKE_VERSION}-linux-x86_64"

          test -e ${CMAKE_NAME} || (
            curl -f -L -o "${CMAKE_NAME}.tar.gz" "https://github.com/Kitware/CMake/releases/download/v${CMAKE_VERSION}/${CMAKE_NAME}.tar.gz"
            tar -xzf "./${CMAKE_NAME}.tar.gz"
            rm "./${CMAKE_NAME}.tar.gz"

            echo "${{ github.workspace }}/${CMAKE_NAME}/bin" >> $GITHUB_PATH
          )

      - name: Print CMake version
        run: |
          cmake --version

      - name: Install Python dependencies
        run: |
          pip install -r libjs-test262/requirements.txt

      - name: Restore Caches
        uses: ./.github/actions/cache-restore
        with:
          runner_labels: '["test262-runner"]'
          os: 'Linux'
          arch: 'Lagom'
          ccache_path: ${{ env.CCACHE_DIR }}
          download_cache_path: ${{ github.workspace }}/libjs-test262/Build/caches

      - name: Build test262-runner, test-js, test-wasm and test-js-bytecode
        run: |
          # FIXME: Why does vcpkg need this?
          #        Running as a normal user would make this a non-issue though
          export HOME=${{ github.workspace }}/home
          mkdir -p $HOME

          cmake --preset Release -B libjs-test262/Build \
            -DCMAKE_C_COMPILER=clang-${{ steps.setup.outputs.llvm_version }} \
            -DCMAKE_CXX_COMPILER=clang++-${{ steps.setup.outputs.llvm_version }} \
            -DWASM_SPEC_TEST_SKIP_FORMATTING=ON \
            -DINCLUDE_WASM_SPEC_TESTS=ON \
            -DENABLE_GUI_TARGETS=OFF
          ninja -C libjs-test262/Build test262-runner test-js test-wasm test-js-bytecode

      - name: Run test262 and test262-parser-tests
        working-directory: libjs-test262
        run: |
          python3 run_all_and_update_results.py \
            --serenity .. \
            --test262 ../test262 \
            --test262-parser-tests ../test262-parser-tests \
            --results-json results.json \
            --per-file-output per-file-master.json

      - name: Run test-wasm
        working-directory: libjs-test262
        run: |
          Build/bin/test-wasm --per-file Build/Lagom/Libraries/LibWasm/Tests
