name: Run test262 and test-wasm

on: [pull_request]

env:
  LADYBIRD_SOURCE_DIR: ${{ github.workspace }}
  VCPKG_ROOT: ${{ github.workspace }}/Build/vcpkg

jobs:
  run_and_update_results:
    runs-on: ubuntu-latest

    concurrency: libjs-test262

    steps:
      - name: Cleanup
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}/*"

      - name: Checkout trflynn89/ladybird
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.LADYBIRD_BOT_TOKEN }}

      - name: Checkout trflynn89/libjs-data
        uses: actions/checkout@v6
        with:
          repository: trflynn89/libjs-data
          path: libjs-data

      - name: Do Something
        run: |
          date > libjs-data/test262/results.json

      - name: Deploy to GitHub
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          git-config-name: LadybirdBot
          git-config-email: ladybirdbot@ladybird.org
          branch: master
          repository-name: trflynn89/libjs-data
          token: ${{ secrets.LADYBIRD_BOT_TOKEN }}
          folder: libjs-data
